/*flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]*/

*, input, button {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  background-color: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 300;
  font-size: 2em;
}

main {
  width: 90vw;
  max-width: 720px;
}

.item {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;

  flex-direction: column;
  /*justify-content: space-between;*/
  align-items: center;
  transition: 0.1s;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

.item-value {
  flex-grow: 3;
  align-items: center;
}

.creation-date {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  font-size: 0.7em;
  color: #fff;
  align-self: stretch;
}

.item-inner-content {
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
}

.item-order {
  font-weight: 700;
  margin-right: 20px;
}

.item-checked {
  text-decoration: line-through;
  color: #bbb;
}

#todo-list {
  overflow: auto;
  margin: 20px 0;
  width: 100%;
  max-height: calc(100vh - 22.5em);
}

#text-input {
  flex-grow: 2;
  margin-right: 20px;
}

button, input {
  margin: 0;
  background: #ddd;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.1s;
}

button:hover {
  cursor: pointer;
  background: #ccc;
}

button:active {
  cursor: pointer;
  background: #eee;
}

.remove-item, .checkbox{
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  line-height: 0.9em;
  transition: 0.1s;
  font-size: 1.8em;
}

input[type="checkbox"] {
  background-color: #fff;
  border-radius: 0;
}

#sort-by-name {
  margin-right: 20px;
}

.remove-item:hover {
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.remove-item:active {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.7);
}

#counter {
  flex-direction: column;
}

.count {
  font-weight: 700;
}

footer, #counter {
  margin-top: 20px;
  font-size: 0.8em;
  color: #555;
}

/*reusable classes*/
.df {
  display: flex;
}

/*media quries*/
@media screen and (min-width: 721px) {
  .remove-item {
    font-size: 1em;
  }
}
