*, input, button {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 1em;
}

/*
html {
  height: 100%;
}
*/

body {
  background-color: #eee;
  /*width: 100%;*/
  /*height: 100vh;  Avoid the IE 10-11 `min-height` bug.*/
}

h1 {
  font-weight: 300;
  font-size: 2em;
}

main {
  width: 90vw;
  max-width: 720px;
  /*flex: 1 0 auto;  Prevent Chrome, Opera, and Safari from letting these items
  shrink to smaller than their content's default minimum size. */
}

.item {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: 0.1s;
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.item-value {
  flex-grow: 3;
}

.item-id {
  font-weight: 700;
  margin-right: 20px;
}
.item-checked {
  text-decoration: line-through;
  color: #bbb;
}

#todo-list {
  overflow: auto;
  margin: 20px 0;
  width: 100%;
  max-height: calc(100vh - 20em);
}

input, button {
  padding: 5px;
  margin: 0;
}

input[type="text"] {
  flex-grow: 2;
  margin-right: 20px;
}

button {
  background: #ddd;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.1s;
}

button:hover {
  cursor: pointer;
  background: #ccc;
}

button:active {
  cursor: pointer;
  background: #eee;
}

.remove-item, .checkbox{
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  line-height: 0.9em;
  transition: 0.1s;
  font-size: 1.8em;
}

input[type="checkbox"] {
  background-color: #fff;
  border-radius: 0;
}

#sort-by-name {
  margin-right: 20px;
}

.remove-item:hover {
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.remove-item:active {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.7);
}


footer {
  margin-top: 20px;
  font-size: 0.75em;
  color: #555;
}


/*reusable classes*/
.df {
  display: flex;
}

.ai-c {
  align-items: center;
}

.fd-c {
  flex-direction: column;
}

.jf-c {
  justify-content: center;
}

/*media quries*/
@media screen and (min-width: 721px) {
  .remove-item {
    font-size: 1em;
  }
}
